{% extends 'base.html.twig' %}
{% block title %}Ajouter une adresse - Ma boutique
{% endblock %}
{% block content %}
	<a href="{{path('account_address_add')}}" class="btn btn-primary btn-sm float-end ">Ajouter une adresse</a>
	<a href="{{path('account')}}">Retour</a>
	<hr>
	FORMULAIRE
{% endblock %}
