<div class="container">
	<p class="float-end">
		<a href="#" class="text-decoration-none">Back to top</a>
	</p>
	<p class="mb-0">
		&copy; 2017–2023 Company, Inc. &middot;
		<a href="#" class="text-decoration-none">Privacy</a>
		&middot;
		<a href="#" class="text-decoration-none">Terms</a>
	</p>
</div>
